@use "reset";
@use "variables" as v;

body{
    
}

header {
    display: flex;
    flex-direction: column;

    div {
        display: flex;

        img {
            padding: 0 2rem 2rem 2rem;
            justify-content: center;
            width: 40vh;
            height: 10rem;
            background-color: black;
            margin: 2rem auto;
        }
    }

    div {
        display: flex;
        justify-content: center;
        background-color: rgb(255, 255, 255);
        text-decoration: underline;
        margin: auto;


        h1 {
            display: flex;
            justify-content: center;
            background-color: rgb(255, 255, 255);
            text-decoration: underline;
            margin: auto;
            padding-top: 4rem;
            font-size: xx-large;
            text-transform: uppercase;
        }
    }

}


main {
    margin: 4rem 4rem;
    border: 2px solid black;
    flex-direction: column;

    @media screen and (min-width: v.$xs-breakpoint) {
        justify-content:  center ;
    }

    div {
        text-align: center;
        padding: 2rem auto;
        margin: 2rem auto;
        label {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 2rem;
            font-size: 2rem;

            @media screen and (min-width: v.$xs-breakpoint) {
                display: flex;
                flex-direction: row;
                padding: 0 5rem;
                text-align: left;
                flex-basis: content;

                select {
                    margin: 0;
                    padding: 1rem 0;

                    @media screen and (min-width: v.$xs-breakpoint) {
                        
                    }
                }
            }

            select {
                margin: 2rem auto;
                padding: 1rem 0;

                @media screen and (min-width: v.$xs-breakpoint) {
                    padding: 0.5 2rem;
                    text-align: center;
                    justify-content: space-between;
                }
            }

            input {
                margin: 0 auto;
                width: 100%;
                flex-basis: 33%;
                padding: 0.5rem 0;

                @media screen and (min-width: v.$xs-breakpoint) {
                    display: flex;
                    padding: 0.5 2rem;
                }
            }

            textarea {
                max-width: 820px;
                width: fit-content;
                margin: 5rem auto 2rem auto;
                padding: 2rem 5rem;

                @media screen and (min-width: v.$xs-breakpoint) {
                    width: 50rem;
                    height: 20rem;
                    margin: 5rem 2rem;
                    text-align: start;
                }
            }
        }
    }
}


div{
    p{
        font-size: 2rem;
        text-align: left;
        padding: 2rem 5rem;
        text-align: center;
        @media screen and (min-width: v.$xs-breakpoint) {
            text-align: left;
            padding: 2rem;
        }
    }
}


.sign{
    padding: 2rem 2rem;
    @media screen and (min-width: v.$xs-breakpoint) {
       display: flex;
       flex-basis: 24%;
    }
    label{
        @media screen and (min-width: v.$xs-breakpoint) {
            text-align: center;
            padding: 2rem;
        }
        input {
            padding: 2rem;
            margin: 2rem;
            @media screen and (min-width: v.$xs-breakpoint) {
                padding: 4rem 5rem;
            }
        }
    }
    
}


footer {
    display: flex;

    img {
        padding: 0 2rem 2rem 2rem;
        justify-content: center;
        width: 40vh;
        height: 10rem;
        background-color: black;
        margin: 2rem auto;
    }
}